* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

/* PAGE HEADER: */

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    padding: 12px 24px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    color: #E5E7EB; 
}

li {
    margin: 12px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

/* STUFF DIRECTLY UNDER HEADER */

.intro {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    padding: 5vw 10vw;
    gap: 2vw;
}

.intro-left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 1vh;
}

.header1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.subtext1 {
    font-size: 18px;
    color: #E5E7EB;
}

.signup1 {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

.imgplaceholder1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: auto;
    background-color: transparent;  
    flex-shrink: 0;
    flex-wrap: wrap;
}

/* INFORMATION */

.information {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5vw 10vw;
}

.header2 {
    margin-bottom: 1ex;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: flex;
    max-width: 200px;
}

img {
    margin: 0 10px;
    border-radius: 10px;
}

.subtext {
    text-align: center;
    text-wrap: wrap;
    max-width: 200px;
    margin: 10px auto;
}

/* QUOTE */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5vw 10vw;
    gap: 1vw;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.quote-attribution {
    font-size: 20px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 900;
    margin-left: 60vw;
}

/* FINAL SECTION - CALL TO ACTION */

.final-section {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    margin: 5vw 10vw;
    padding: 2vw 4vw;
    border-radius: 5px;
}

.final-section-content {
    color: #E5E7EB;
}

.final-header {
    font-size: 20px;
    font-weight: 900;
}

.final-text {
    font-size: 14px;
    font-weight: 400;
}

.signup2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    margin-left: auto;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.copyright {
    color: #E5E7EB;
}