* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    padding: 12px 24px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}


ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    color: #E5E7EB; 
}

li {
    margin: 12px;
}